<script type="text/javascript">
    var instagramNote = '这个页面已停更许久，留作纪念，去它的新站点看看吧！';
    var postPaths = {"/2020/ant-jmeter-jenkins" : "/2020/Ant-Jmeter-Jenkins",
    "/2020/idea-keymap-chinese" : "/2020/IDEA-KeyMap-Chinese",
    "/2020/lazyload" : "/2020/Lazyload",
    "/2020/microsoft-flow-email" : "/2020/Microsoft-Flow-Email",
    "/2020/ppa-one" : "/2020/PPA-One",
    "/2020/ubuntu-install-mysql" : "/2020/Ubuntu-install-MySQL"};
    var postPath = window.location.pathname

    $("body").overhang({
      type: "confirm",
      primary: "#6e979f",
      accent: "#d4d4d4",
      message: instagramNote,
      custom: true,
      html: true,
      overlay: true,
      overlayColor: "#f1f2f6",
      callback: function (value) {
        if (value) {
          if (postPaths[postPath] != undefined) {
            window.location.href = "https://blog.vmert.com" + postPaths[postPath];
          } else {
            window.location.href = "https://blog.vmert.com" + postPath;
          }
        } else {
          alert("也许你更喜欢这个风格...");
        }
      }
    });
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5edb0a116d1552ce"></script>
<script type="text/javascript" async src="{{ "/assets/js/prism.min.js" | relative_url }}"></script>
<script type="text/javascript" async src="{{ "/assets/js/index.min.js" | relative_url }}"></script>
<script type="text/javascript" async src="{{ "/assets/js/toc.min.js" | relative_url }}"></script>
<script type="text/javascript" async src="{{ "/assets/js/lazysizes.min.js" | relative_url }}"></script>
{% include back_top_button.html %}