<!DOCTYPE html>
<html>
    {% include head.html %}

<body>
  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
  {% include header.html %}
  <header
    class="g-banner post-header {% if page.postPatterns %}{{ page.postPatterns | prepend: 'post-pattern-' }}{% else %}{{ site.postPatterns | prepend: 'post-pattern-' }}{% endif %} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}"
    data-theme="{{ site.theme-color }}">
    <div class="post-wrapper">
      <div class="post-tags">
        {% if page.tags.size > 0 %}
          {% for tag in page.tags  %}
            <a href="{{ "/tags.html#" | append: tag | relative_url }}" class="post-tag">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <h1>{{ page.title }}</h1>
      <div class="post-meta">
        <a href="{% if page.author %}{{ page.author.url }}{% else %}{{ site.url }}{% endif %}" class="post-meta-item"
        title="author" target="_blank"><i
          class="iconfont icon-author"></i>{% if page.author %}{{ page.author.name }}{% else %}{{ site.author }}{% endif %}</a>
      <time class="post-meta-item" datetime="{{ page.date | date:"%y-%m-%d" }}"
        title="最后编辑于{% if page.overwrite %}{{ page.overwrite | date:'%Y-%m-%d' }}{% else %}{{ page.date | date:'%Y-%m-%d' }}{% endif %}"><i
          class="iconfont icon-date"></i>{{ page.date | date_to_string }}</time>
      <span class="post-meta-item read-time" title="Estimated read time"><i class="iconfont icon-read-time"></i>
        {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} mins read
      </span>
      </div>
    </div>
    {% if page.cover %}
    <div class="filter"></div>
      <div class="post-cover" style="background: url('{{ page.cover | relative_url }}') center no-repeat; background-size: cover;"></div>
    {% endif %}
  </header>

  <div class="post-content visible">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    <article class="markdown-body">
      {% if page.toc %}
      <toc id="toc" style="visibility:hidden;" class="scrollbar"></toc>
      <i id="toc-show" class="iconfont icon-swap" style="position: fixed;left: 10px;bottom: 10px;display: none;"></i>
      {% endif %}
      {% assign content = content | replace: "<img src", "<img class='post-image lazyload' src='/assets/img/loading.gif' data-src" %}
      {{ content }}
    </article>

    {% if site.social-share %}
    <div class="social-share-wrapper">
      <div class="addthis_inline_share_toolbox"></div>
    </div>
    {% endif %}
  </div>

  <section class="author-detail">
    <section class="post-footer-item author-card">
      <div class="avatar" style="background: url('{{ site.avatar | relative_url }}');background-size: cover;"></div>
      <div class="author-name" rel="author">{{ site.author }}</div>
      <div class="bio">
        <p>{{ site.bio }}</p>
      </div>
      {% if site.sns.size > 0 %}
      <ul class="sns-links">
        {% for s in site.sns %}
        <li>
          <a href="{{ s[1] }}" target="_blank">
                    <i class="iconfont icon-{{ s[0] }}"></i>
                </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>
    <section class="post-footer-item read-next">
      {% if page.next.url %}
      <div class="read-next-item">
        <a href="{{ page.next.url | relative_url }}" class="read-next-link"></a>
        <section>
          <span>{{ page.next.title }}</span>
          <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
        </section>
        {% if page.next.cover %}
        <div class="filter"></div>
        <img src="{{ page.next.cover | relative_url }}" alt="">
        {% endif %}
     </div>
      {% endif %}

      {% if page.previous.url %}
      <div class="read-next-item">
        <a href="{{ page.previous.url | relative_url }}" class="read-next-link"></a>
          <section>
            <span>{{ page.previous.title }}</span>
            <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
          </section>
          {% if page.previous.cover %}
          <div class="filter"></div>
          <img src="{{ page.previous.cover | relative_url }}" alt="">
          {% endif %}
      </div>
      {% endif %}
    </section>
    {% if site.comments.valine %}
    <section class="post-footer-item comment">
      {% include comments.html %}
    </section>
    {% endif %}
  </section>
  {% include clickable-image.html %}
  {% include loading.html %}
  {% include footer.html %}
  {% include js.html %}
</body>

</html>
